// Reset Settings

html {
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 150vh;
  margin: 0;
}

p {
  font-family: 'Spectral', serif!important;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

// Variables
// Colors

$white: #FFFFFF;
$black: #000000;
$darkblue: #030217;
$headerblue: #000079;
$c2ared: #711515;

// Fonts

h1 {
  font-size:1.500em;
  @media (min-width: 568px) {
    font-size: 4.375em;
  }
}

h2 {
  font-size: 2.188em;
  @media (min-width: 568px) {
    font-size: 2.813em;
  }
}

// Mixins
